<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/google-analytics.html") %>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/be-assets/favicon.ico" />
    <link rel="icon" type="image/png" href="/be-assets/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta property="fb:app_id" content="2463898860533799" />
    <meta property="og:url" content="reactale.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Reactale" />
    <meta property="og:description"
        content="Reactale is what happens when literature embraces technology and comes to life. When a reader reads a Reactale (a.k.a Reactive Tale), the Reactale also reads back its reader and then reacts by magically altering itself depending on the reader's actions / decisions / sorroundings and other learnings that are made available to it about its reader. REACTALE marks the birth of a NEW ERA of story telling, in search of a new way, a very REACTIVE one, where no longer will an immersive tale ONLY ENGAGE its readers, but it will INTERACT, and most importantly, it will REACT" />
    <!-- <meta property="og:image" content=" $domain . $imgUrl " /> -->
    <meta property="og:image" content="/assets/img/c1/Reactale-ironman-1-640x360.png" />
    <meta property="og:image" content="/assets/img/c1/act-react-640x360.png" />
    <meta property="og:image" content="/assets/img/c1/customize-reactale-640x360.png" />
    <meta property="og:image" content="/assets/img/c1/reactive-branching-640x360.png" />
    <meta property="og:image" content="/assets/img/c1/Reacto-superman-640x360.png" />
    <title>
        Gallery | Browse Tales | | Reactale - Readers Act, Tales React - World's First Dynamic Story Reading / Writing Platform
    </title>

    <!-- CSS for Reactive Timeline and Page -->
    <!-- <link rel="stylesheet" href="/assets/css/timeline.css" /> -->
    <link rel="stylesheet" href="/be-assets/css/slick.css" />
    

    <!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/> -->
    
    <title>Reactale - Readers Act, Tales React</title>

    <%- include ("../partials/LinksAndLoader.html") %>
    <link rel="stylesheet" href="/be-assets/css/gallery.css" />
</head>

<body class="gallery-page">
    <div class="mask"></div>
    <div id="sidebar-mask" class="mask"></div>

    <%- include ("../partials/header.html") %>
    <%- include ("../partials/sidebar.html") %>

    <div class="main-container container">
        <div id="home-carousel">
            <div class="bx-csl">
                <% for(let item of carouselItems) { %>
                <div class="csl-item">
                    <div class="img-wrapper">
                        <img src="<%= item.img %>" alt="item.img" />
                    </div>
                </div>
                <% } %>
            </div>
        </div>

        <!-- LOOP THRU THE GROUPS -->
        <% 
        for(let g in groups) {
            let tales = groups[g]
        %>
            <h1 class="category">
                <span class="name"><%= g %></span>
            </h1>
            <div class="talecards-holder">
                <% for(let t of tales) { %>

                <div class="card tale-card">
                    <div class="card-image bg-cheq">
                        <img src="<%= t.info.imgUrl %>">
                        
                        <a href="/read/<%= t.info.storyUrl %>" class="btn-floating halfway-fab waves-effect waves-light red go-btn">
                            <i class="fas fa-long-arrow-alt-right"></i>
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title"><%= t.info.name %></span>
                        <p><%= t.info.description %></p>
                    </div>
                </div>

                <%} %>  <!-- Cards Ending -->
            </div>
        <%} %>  <!-- Group Ending -->
    </div>


    <%- include("../partials/footer.html"); %>

    <!-- <script src="/be-assets/barix.min.js"></script> -->
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/be-assets/js/materialize.min.js"></script>
    <script src="/be-assets/js/slick.min.js"></script>
    <script src="/be-assets/js/be.js"></script>

    <!-- <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> -->

    <script>
        // START HOME CAROUSEL AUTO-ROTATE
        // setTimeout(function(){
        //     rotateCarousel('home-carousel');
        // }, 2000)
        $('.bx-csl').slick({
            autoplay: true,
            arrows: false,
            dots: true,
            dotsClass: 'navdots'
        });

        hideLoader()
    </script>
</body>

</html>

