<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/google-analytics.html") %>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/be-assets/favicon.ico" />
    <link rel="icon" type="image/png" href="/be-assets/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta property="fb:app_id" content="2463898860533799" />
    <meta property="og:url" content="reactale.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Reactale" />
    <meta property="og:description"
        content="Reactale is what happens when literature embraces technology and comes to life. When a reader reads a Reactale (a.k.a Reactive Tale), the Reactale also reads back its reader and then reacts by magically altering itself depending on the reader's actions / decisions / sorroundings and other learnings that are made available to it about its reader. REACTALE marks the birth of a NEW ERA of story telling, in search of a new way, a very REACTIVE one, where no longer will an immersive tale ONLY ENGAGE its readers, but it will INTERACT, and most importantly, it will REACT" />
    <!-- <meta property="og:image" content=" $domain . $imgUrl " /> -->
    <meta property="og:image" content="/assets/img/c1/Reactale-ironman-1-640x360.png" />
    <meta property="og:image" content="/assets/img/c1/act-react-640x360.png" />
    <meta property="og:image" content="/assets/img/c1/customize-reactale-640x360.png" />
    <meta property="og:image" content="/assets/img/c1/reactive-branching-640x360.png" />
    <meta property="og:image" content="/assets/img/c1/Reacto-superman-640x360.png" />

    <title>Search a Tale | Reactale - Readers Act, Tales React - World's First Dynamic Story Reading / Writing Platform</title>
    <%- include ("../partials/LinksAndLoader.html") %>
    <link rel="stylesheet" href="/be-assets/css/gallery.css" />
</head>

<body class="gallery-page">
    <div class="mask"></div>
    <div id="sidebar-mask" class="mask"></div>

    <%- include ("../partials/header.html") %>
    <%- include ("../partials/sidebar.html") %>

    <div class="main-container container">
        <!-- <h1 class="page-header">Search Reactale</h1> -->
        <!-- <p>Search here ...</p> -->

        <div class="mt-15">
            <h1 class="page-header">Quick Search</h1>
            <form id="googlesearchform" action="https://www.google.com/search" class="searchform" method="get" name="searchform" target="_blank">
                <div class="row flex flex-align-center mt-15">
                    <div class="input-field col s12 l8">
                        <input name="sitesearch" type="hidden" value="reactale.com">
                        <input placeholder="Type what to search ..." id="google_search_value" autocomplete="on" name="q" type="text">
                        <label for="google_search_value">Search value</label>
                    </div>
                    <div class="col s12 l4">
                        <button id="btn-submit-search" class="btn waves-effect waves-light bg-theme right" type="submit">
                            <i class="fab fa-google"></i>
                            Search with Google
                        </button>
                    </div>
                    
                </div>
            </form>
        </div>

        <!-- <form action="https://www.google.com/search" class="searchform" method="get" name="searchform" target="_blank">
            <input name="sitesearch" type="hidden" value="reactale.tech">
            <input autocomplete="on" class="form-control search" name="q" placeholder="Search in reactale.tech" required="required"  type="text">
            <button class="button" type="submit">Search</button>
        </form>

        <br/><br/> -->

        <div class="or-sep mt-60">
            <span class="or-text">OR</span>
        </div>

        <div class="mt-60">
            <h1 class="page-header">Advanced Search</h1>
            <form id="searchform">
                <div class="row flex flex-align-center mt-15">
                    <div class="input-field col s12 m3">
                        <select name="searchfield" id="searchfield">
                        <!-- <option value="" disabled selected>Search in</option> -->
                            <option value="name" selected>Name</option>
                            <option value="tags">Tags</option>
                            <option value="genre">Genre</option>
                            <option value="authorDisplayName">Author</option>
                        </select>
                        <label>Search in</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input placeholder="Search values, separate with comma" id="search_value" type="text" name="searchvalue">
                        <label for="search_value">Search value</label>
                    </div>
                    <div class="input-field col s12 m3">
                        <select name="searchlang" id="searchlang">
                        </select>
                        <label>Language</label>
                    </div>
                    <div class="col s12">
                        <button id="btn-submit-search" class="btn waves-effect waves-light bg-theme right" type="submit">
                            <i class="fas fa-search"></i>
                            Search
                        </button>
                    </div>
                    
                </div>
            </form>

            <h1 class="page-header">Results</h1>

            <% 
            if(Object.keys(queryForUI).length > 0) {
                const searchString = Object.keys(queryForUI).map(k => `${k}: ${queryForUI[k]}`).join(' and ')
            %>
            <p>
                Found <b><%= talesCount %></b> tales for <b>"<%= searchString %>"</b>
            </p>
            <%} %>

            <% 
            if(Object.keys(queryForUI).length == 0) {
            %>
            <p>
                Search results (if any) will appear here ...
            </p>
            <%} %>

            <!-- LOOP THRU THE GROUPS -->
            <% 
            for(let g in groups) {
                let tales = groups[g]
            %>
                <h1 class="category">
                    <span class="name"><%= g %></span>
                </h1>
                <div class="talecards-holder">
                    <% for(let t of tales) { %>

                    <div class="card tale-card">
                        <div class="card-image bg-cheq">
                            <img src="<%= t.info.imgUrl %>">
                            
                            <a href="/read/<%= t.info.storyUrl %>" class="btn-floating halfway-fab waves-effect waves-light red go-btn">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                        <div class="card-content">
                            <span class="card-title"><%= t.info.name %></span>
                            <p><%= t.info.description %></p>
                        </div>
                    </div>

                    <%} %>  <!-- Cards Ending -->
                </div>
            <%} %>  <!-- Group Ending -->
        </div>
    </div>


    <%- include("../partials/footer.html"); %>

    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/be-assets/js/materialize.min.js"></script>
    <script src="/be-assets/js/be.js"></script>

    <!-- <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> -->

    <script>
        hideLoader()
        $(function(){
            const LANGUAGES = ["Algerian Arabic", "Amharic", "Assamese", "Bengali", "Bhojpuri", "Burmese", "Cebuano", "Chhattisgarhi", "Chittagonian", "Czech", "Deccan", "Dutch", "Eastern Punjabi", "Egyptian Arabic", "English", "French", "Gan", "German", "Greek", "Gujarati", "Hakka", "Hausa", "Hejazi Arabic", "Hindi", "Hungarian", "Igbo", "Indonesian", "Iranian Persian", "Italian", "Japanese", "Javanese", "Jinyu", "Kannada", "Kazakh", "Khmer", "Kinyarwanda", "Korean", "Magahi", "Maithili", "Malay", "Malayalam", "Mandarin", "Marathi", "Mesopotamian Arabic", "Min Bei Chinese", "Min Dong Chinese", "Min Nan", "Moroccan Arabic", "Nepali", "Nigerian Fulfulde", "North Levantine Arabic", "Northern Kurdish", "Northern Pashto", "Northern Uzbek", "Odia", "Polish", "Portuguese", "Romanian", "Rundi", "Russian", "Sanaani Spoken Arabic", "Saraiki", "Saʽidi Arabic", "Sindhi", "Sinhala", "Somali", "South Azerbaijani", "South Levantine Arabic", "Southern Pashto", "Spanish", "Sudanese Arabic", "Sunda", "Sylheti", "Tagalog", "Tamil", "Taʽizzi-Adeni Arabic", "Telugu", "Thai", "Tunisian Arabic", "Turkish", "Ukrainian", "Urdu", "Uyghur", "Vietnamese", "Western Punjabi", "Wu", "Xiang Chinese", "Yoruba", "Yue", "Zulu", "Other"];

            let langSelectHtm = LANGUAGES.reduce((acc, l) => 
            acc + `<option value="${l}">${l}</option>`,
            '<option value="ALL" selected>All</option>')

            $('#searchlang').html(langSelectHtm)

            // Initialize
            $('select').formSelect();

            // Submit a search
            $('#searchform').on('submit', function(ev) {
                ev.preventDefault()
                // console.log(ev)
                let key = $('#searchfield').val()
                let val = encodeURIComponent($('#search_value').val())
                let lang = $('#searchlang').val()

                let qparams = []
                if(val) qparams.push(`${key}=${val}`);
                if(lang !== 'ALL') qparams.push(`lang=${lang}`);

                if(qparams.length <= 0) return

                let newUrl = window.location.origin + '/search?' + qparams.join('&')
                window.location.href = newUrl
            })
        })
    </script>
</body>

</html>

