<!DOCTYPE html>
<html lang="en">

<head>
    <% if (process.env.ENV === 'prod') { %>
        <%- include ("../partials/google-analytics.html") %>
    <% } %>
    
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="<%= process.env.ASSETS_ROOT %>/favicon.ico" />
    <link rel="icon" type="image/png" href="<%= process.env.ASSETS_ROOT %>/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta property="fb:app_id" content="2463898860533799" />
    <meta property="og:url" content="<%= process.env.URL %>/read/<%= tale.info.storyUrl %>" />
    <meta property="og:type" content="article" />
    <meta property="og:article:author" content="<%= tale.info.authorDisplayName %>" />
    <meta property="og:article:tag" content="<%= tale.info.tags %>" />
    <meta property="og:article:section" content="<%= tale.info.genre %>" />
    <meta property="og:article:published_time" content="<%= new Date(tale.info.doC) %>" />
    <meta property="og:article:modified_time" content="<%= new Date(tale.info.doM) %>" />
    <meta property="og:title"
        content="<%= tale.info.name %> by <%= tale.info.authorDisplayName || (author.firstname + ' ' + author.lastname) %> | Reactale" />
    <meta property="og:description" content="<%= tale.info.description %>" />
    <meta property="og:image" content="<%= tale.info.imgUrlSquare  %>" />
    <meta property="og:image" content="<%= tale.info.imgUrl  %>" />
    <!-- <meta property="og:image" content="<%= process.env.ASSETS_ROOT %>/assets-img/c1/Reactale-ironman-1-640x360.png" />
    <meta property="og:image" content="<%= process.env.ASSETS_ROOT %>/assets-img/c1/act-react-640x360.png" />
    <meta property="og:image" content="<%= process.env.ASSETS_ROOT %>/assets-img/c1/customize-reactale-640x360.png" />
    <meta property="og:image" content="<%= process.env.ASSETS_ROOT %>/assets-img/c1/reactive-branching-640x360.png" />
    <meta property="og:image" content="<%= process.env.ASSETS_ROOT %>/assets-img/c1/Reacto-superman-640x360.png" /> -->

    <!-- CSS for Reactive Timeline and Page -->
    <link rel="stylesheet" href="<%= process.env.ASSETS_ROOT %>/assets/css/timeline.css" />
    <title>
        Read Reactale <%= tale && tale.info && tale.info.name %> | Reactale - Readers Act, Tales React - World's First Dynamic Story Reading / Writing Platform
    </title>

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Article",
            "headline": "<%= tale.info.name %>",
            "alternativeHeadline": "A Reactale",
            "image": "<%= tale.info.imgUrl  %>",
            "author": {
                "@type": "Person",
                "name": "<%= tale.info.authorDisplayName %>"
            },
            "genre": "<%= tale.info.genre %>",
            "keywords": "<%= tale.info.tags %>",
            "publisher": {
                "@type": "Organization",
                "name": "Reactale",
                "logo": {
                    "@type": "ImageObject",
                    "url": "<%= process.env.URL %>/assets/img/logo/Reactale-logo-40h-red-on-transparent-bg.png"
                }
            },
            "url": "<%= process.env.URL %>/read/<%= tale.info.storyUrl %>",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "<%= process.env.URL %>/read/<%= tale.info.storyUrl %>"
            },
            "dateCreated": "<%= new Date(tale.info.doC) %>",
            "datePublished": "<%= new Date(tale.info.doC) %>",
            "dateModified": "<%= new Date(tale.info.doM) %>",
            "description": "<%= tale.info.description.replace(/["\n]/g, ' ') %>"
        }
    </script>

    <%- include ("../partials/LinksAndLoader.ejs") %>
    <link rel="stylesheet" href="<%= process.env.ASSETS_ROOT %>/assets/be-css/tale.css" />
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=60705f130e267500127ccd0c&product=sop' async='async'></script>
</head>

<body>
    <div class="mask"></div>
    <div id="sidebar-mask" class="mask"></div>

    <%- include ("../partials/header.ejs") %>
        <%- include ("../partials/sidebar.ejs") %>

            <div class="main-container container">
                <div class="page-start-block">
                    <div class="row">
                        <div class="tale-img-sec col s12 l5">
                            <div class="banner bg-cheq">
                                <img src="<%= tale.info.imgUrl %>" alt="story banner" class="materialboxed">
                            </div>
                        </div>
                        <div class="tale-info-sec col s12 l7">
                            <h1 class="title-line">
                                <span>
                                    <%= tale.info.name %>
                                </span>
                            </h1>
                            <div class="sub-infos">
                                <a href="/user/<%= author.username %>" class="author-name">
                                    <i class="fas fa-user mr-5"></i>
                                    <%= tale.info.authorDisplayName || (author.firstname + ' ' + author.lastname) %>
                                        <%= " | " + author.username.substr(0, 20) %>
                                </a>
                                <div class="genre">Genre: <%= tale.info.genre %>
                                </div>
                                <div class="tags">
                                    <% for (let tag of tale.info.tags) { %>
                                        <a class="tagli z-depth-1 nmbg"
                                            href="/search?tags=<%= encodeURIComponent(tag.trim()) %>">
                                            <i class="fas fa-tag ico"></i>
                                            <%= tag.trim() %>
                                        </a>
                                        <% } %>

                                </div>
                                <div class="date doc mt-10">
                                    <i class="fas fa-calendar-alt ico"></i>
                                    <span class="color-fade-6 nmw" title="<%= new Date(tale.info.doC) %>">
                                        Created: <%= (new Date(tale.info.doC)).toString().split('GMT')[0] %>
                                    </span>
                                </div>
                                <div class="date dom">
                                    <i class="fas fa-calendar-alt ico"></i>
                                    <span class="color-fade-6 nmw" title="<%= new Date(tale.info.doM) %>">
                                        Modified: <%= (new Date(tale.info.doM)).toString().split('GMT')[0] %>
                                    </span>
                                </div>
                            </div>
                            <div class="buttons-section">
                                <!-- <div class="fb-like-and-share-container">
                                    <div class="fb-like" data-href="https://reactale.com/read/<%= tale.info.storyUrl %>"
                                        data-width="" data-layout="button_count" data-action="like" data-size="small"
                                        data-show-faces="false" data-share="true"></div>
                                </div> -->
                                <div class="fb-like-and-share-container">
                                    <div class="fb-like" data-href="<%= process.env.URL %>/read/<%= tale.info.storyUrl %>"
                                        data-width="" data-layout="button_count" data-action="like" data-size="small"
                                        data-show-faces="false"></div>
                                </div>
                                <a href="#giftatale" id="btn-show-customizemodal"
                                    class="waves-effect waves-light btn right bg-theme mt-15 modal-trigger">
                                    <i class="fas fa-gift"></i>&nbsp;
                                    Customize / Gift
                                </a>
                            </div>
                            <!-- <div class="share-this-section mt-10">
                                <div class="sharethis-inline-share-buttons"></div>
                            </div> -->
                        </div>
                    </div>
                    <hr class="mt-30">
                    <div class="story-desc acc closed">
                        <h2 class="header">
                            Description
                            <span class="ico">
                                <i class="fas fa-chevron-up up"></i>
                                <i class="fas fa-chevron-down down"></i>
                            </span>
                        </h2>
                        <p class="desc body">
                            <%= tale.info.description %>
                        </p>
                    </div>
                </div>

                <div id="timelineContainer"></div>

                <!-- COMMENTS AREA START -->
                <div class="row" id="reactale-comments-area">
                    <div class="col s12">
                      <ul class="tabs">
                        <li class="tab col s6"><a class="active" href="#facebook-comments-tab">Facebook</a></li>
                        <li class="tab col s6"><a href="#disqus-comments-tab">Disqus</a></li>
                      </ul>
                    </div>

                    <div id="facebook-comments-tab" class="col s12">
                        <!-- FB HTML START -->
                        <div class="fb-comments" data-href="<%= process.env.URL %>/read/<%= tale.info.storyUrl %>" data-width="100%" data-numposts="10" data-lazy="true"></div>
                        <!-- FB HTML END -->
                    </div>

                    <div id="disqus-comments-tab" class="col s12">
                        <!-- DISQUS HTML START -->
                        <div id="disqus_thread"></div>
                        <!-- DISQUS HTML END -->
                    </div>
                </div>
                    

                <!-- COMMENTS AREA END -->

                <!-- GIFT-A-TALE MODAL STARTS -->
                <div class="modal custom-modal" id="giftatale">
                    <div class="modal-content">
                        <div class="header">
                            <i class="fas fa-gift"></i>
                            &nbsp;Gift-a-Tale&nbsp;
                            <i class="fas fa-gift"></i>
                        </div>
                        <div class="body">
                            <p>
                                Want to Gift a Tale? It's easy -
                            <ul class="steps">
                                <li><b>Fill</b> up the custom field(s)</li>
                                <li><b>Apply</b> to see the result yourself</li>
                                <li><b>Generate</b> URL to get the share-able url of your <i>Customized
                                        Reactale</i></li>
                            </ul>
                            </p>
                            <div class="dynamic-accordion"></div>
                        </div>
                        <div class="btn-panel right-align">
                            <button type="button" id="applycustomizatn" class="btn btn-small bg-theme">
                                Apply
                            </button>
                            <button type="button" id="createcustomurl" class="btn btn-small bg-theme">
                                Generate URL
                            </button>
                        </div>
                        <div id="custom-url-section">
                            <p>
                                Custom Reactale URL generated. Please copy and share this url to whoever you want to
                                gift this
                                customized tale
                            </p>

                            <div class="mt-10">
                                <input type="text" class="form-control" id="generated-url-op" />
                            </div>
                            <div class="mt-10">
                                <button type="button" id="copycustomurl" class="btn btn-small mr-5 bg-theme">
                                    Copy URL
                                </button>
                                <!-- <button type="button" id="sharecustomurl" class="btn btn-sm btn-outline-primary mr-5">
                        Share URL
                    </button> -->
                                <a href="#" target="_blank" class="visit-custom-url waves-effect btn-flat">
                                    Visit URL
                                    &nbsp;<i class="fas fa-angle-double-right ico"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- GIFT-A-TALE MODAL STARTS -->


                <!-- LINK-A-TALE MODAL STARTS -->
                <div id="linkatale" class="modal custom-modal">
                    <div class="modal-content">
                        <div class="header">
                            <i class="fas fa-code-branch"></i>
                            &nbsp;Request Link-a-Tale&nbsp;
                            <i class="fas fa-code-branch"></i>
                        </div>
                        <div class="body">
                            <p>
                                Have something else in mind ? Perhaps, another possible choice you'd like to add here ?
                                Great! That's easy, just follow these steps
                            </p>
                                
                            <ul class="steps">
                                <li><b>Create a reactale</b> telling your story after this point.</li>
                                <li><b>Fill the form</b> below and send the request to the current author.</li>
                                <li><b>Once approved</b> by the author, your choice will be listed here, and it will take readers to your tale.</li>
                            </ul>

                            <div class="row" id="linkatalecontainer">
                                <div class="col s12 mt-15">
                                    <h5><b>Request Form</b></h5>
                                </div>
                                <div class="col s12 mt-15">
                                    <p>Choice Text to Show</p>
                                    <textarea placeholder="Type here..." class="materialize-textarea choicetext"></textarea>
                                </div>
                                <div class="col s12 mt-15">
                                    <p>Destination Reactale URL (Can also be deep linked to a storylet)</p>
                                    <input placeholder="https://reactale.com/..." type="text" class="tortlurl" />
                                </div>
                                <div class="col s12 mt-30 right-align">
                                    <button type="button" class="btn btn-small mr-5 bg-theme send">
                                        Send Request
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- LINK-A-TALE MODAL ENDS -->

                <!-- START OF CLONABLES -->
                <div class="clonables hidden">

                    <div class="st-menu no select">
                        <ul class="menu">
                            <li class="copy-link-to-st">Copy link</li>
                            <li>Add Bookmark</li>
                        </ul>
                        <a class="icofn-btn toggler" title="Menu" href="javascript:void(0)">
                            <i class="fas fa-ellipsis-h"></i>
                        </a>
                    </div>

                </div>

                <!-- END OF CLONABLES -->
            </div>

            <%- include("../partials/footer.ejs"); %>
                <script>
                    (function(){
                        const tale = <%- JSON.stringify(tale) %>;
                        window.rto = window.rto || {}
                        window.rto.getTale = () => tale
                    })()
                    var exports = exports || {}
                </script>

                <script src="<%= process.env.ASSETS_ROOT %>/assets/be-js/readtalepage.js"></script>

                <script>
                    /*
                    * Init all Material UI Compoments
                    */
                    $(document).ready(function () {
                        $('.materialboxed').materialbox();
                        $('.modal').modal();
                        $('.collapsible').collapsible();
                        $('.tabs').tabs();
                    });

                    hideLoader()
                </script>


                <div id="fb-root"></div>
                <!-- <script async defer crossorigin="anonymous"
                    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0"></script> -->

                <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0&appId=2463898860533799&autoLogAppEvents=1" nonce="KHYjlzXm"></script>

                <%- include("../partials/read/read-page-toolbar.html"); %>
</body>

</html>